.page {
  min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
  
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.border {
  border: #adabab 2px solid;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
  margin: 0 0 0 0;
  position: relative;
  overflow: hidden;
}
.logo {
  min-height: 32px;
  min-width: 183px;
  height: 32px;
  width: 183px;
}
.logo_place_header {

  margin-top: 30px;
  margin-left: 64px;
  display: flex;
  
 
}
.header__title{
width: 730px;
height: 96px;
font-size: 102px;
margin-left: 64px;
display: flex;

}
.header__subtitle {
  width: 388px;
  margin-left: 64px;
  
  
}

.header__main-illustration {
   
  width: 608px;
  height: 765px;
  z-index: 1;
  right: 0;
  position: absolute;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background: blue;
  right: 0;
  margin-top: 64px;
  z-index: 0;
  position: absolute;
  

}
.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.two-colomn {
  display: flex;
  margin-top: 100px;
  min-width: 784px;
  width: 80%;
  justify-content: space-between;
 
  
}
.two-colomn__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  width: 175px;
  color: #2f80ed;

}
.two-colomn__main-text {
  display: flex;
  width: 80%;
  flex-direction: column;
  min-width: 784px;
  margin-bottom: 100px;
}
.two-colomn__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-colomn__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight:bold;
  margin-top: 30px;
  margin-bottom: 30px;

}

.digits {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}
.section-title {
  line-height:  1.15em;
  font-size: 60px;
  font-weight: bold;
  margin-top: 100px;
  width: 60%;
  justify-content:center;
  display: flex;
 }
   .section-subtitle {
     line-height: 34px;
     font-size: 24px;
     font-weight: normal;
     margin-top: 20px;
     width: 60%;
     justify-content:center;
     display: flex;
   }
.table{
  display: flex;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;

 }
 .table__cell {
   width: 250px;
   max-width: 25%;
   margin-top: 60px;
 }

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold; 
 
}
.table__text {
 line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
.bank {
  margin-top: 20px;
}
.feynman {
  margin-top: 100px;
  height: 890px;
  overflow: hidden;
  display: flex;
  background: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}
.feynman__title {
  line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
    width: 648px;
    margin-top: 100px;
    text-align: center;
  
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  top: 50%;
  margin-right: 48px;
 border: #2f80ed;
 text-decoration: none;
 position: absolute;
 right: 0;
}
.feynman__picture {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 867px;
  height: 637px;
}
.kaufman{
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: white;
  z-index: 1;
  margin-top: 90px;
}

.kaufman__triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}
.section-title_theme_dark {
  margin-top: 90px;
}
.section-subtitle_theme_dark {
  margin-top: 20px;
}
.table__cell_theme_dark {
  margin-top: 80px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  max-width: 20%;
}
.footer {
  min-height: 350px;
  flex-basis: 711px;
  background-color: #1f1f1f;
  color: white;
}
.footer__colomns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
}
.footer__colomns_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
 
.footer__colomns_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__colomns_social {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.link__list {
margin-top: 20px;
margin-bottom: 16px;
line-height: 30px;
font-size: 18px;
font-weight: normal;
list-style-type: none;
text-decoration: none;
}
.link__item {
  text-decoration: none;
}
.social__link-fb {
content: url(../images/facebook_color_white.svg);
height: 16px;
width: 16px;
}
.social__link-vk {
content: url(../images/vk_color_white.svg);
height: 16px;
width: 16px;
}
.social__link-insta {
content: url(../images/instagram_color_white.svg);
height: 16px;
width: 16px;

}
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.social__item {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.menu__link  {
  text-decoration: none;
}
.social__link {
  text-decoration: none;
  margin-left: 10px;
}
