

  .page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .header {
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo_place_header{
    min-height: 32px;
    min-width: 183px;
    margin-top: 30px;
    margin-left: 64px;
  }
  .header__title{
  width: 730px;
  height: 96px;
  font-size: 102px;
  margin-left: 64px;
  }
  .header__subtitle {
    width: 388px;
    margin-left: 64px;
  }
 

  .square-pic{
    color: blue;
    background:blue;
    height: 568px;
    width: 568px;
    margin-top: 64px;
   
  }
  .header__main-illustration {
      z-index: 0;
      display: flex;
      justify-content: flex-end;
      width: 608px;
      height: 765px;
  }
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    height: 568px;
    width: 568px;
    background:blue;
    
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: absolute;
    align-self: flex-end;
    display: flex;
    margin-top: 64px;
  
  }
  .two-colomn {
    display: flex;
    margin-top: 100px;
    min-width: 784px;
    width: 80%;
    margin-left: 100px;
   margin-right: 100px;
    
  }
  .two-colomn__brief {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    width: 175px;
  }
  .two-colomn__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  .two-colomn__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight:bold;
    margin-top: 30px;
    margin-bottom: 30px;

  }
  /* и элемента с модификатором вида ключ-значение */
  .table__cell_theme_dark {
    width: 200px;
    color: rgb(250, 245, 245);
    margin-right: 0;
    margin-top: 80px;
    background-color: black;
  }
  .digits {
display: flex;
flex-direction: column;
  }
  .table{
    display: flex;
    
  }

  
  .kaufman{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .table__heading {
      color: rgb(7, 7, 7);
  }
  .table__text {
      color: rgb(14, 13, 13);
  }
  
  .kaufman__triangle{
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    z-index: 1;
  }