.page {
  min-width: 1100px;
   max-width: 1600px;
  margin: 0 auto;
  color: #000000;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 0;
  position: relative;
  background: #f2f2f2;
}
.logo {
  min-height: 32px;
  min-width: 183px;
  height: 32px;
  width: 183px;
}
.logo_place_header {

  top: 30px;
  left: 64px;
  margin: 0;
  position: absolute;
  
 
}
.header__title{
max-width: 730px;
line-height: 96px;
font-size: 102px;
margin-left: 64px;

}
.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: 64px;
  
  
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration {
   
  width: 765px;
  height: 608px;
  z-index: 1;
  right: 0;
  position: absolute;
  bottom: 0;
  margin: 0;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  right: 0;
  top: 64px;
  z-index: 0;
  position: absolute;
  margin: 0;
  

}
.description {
  display: flex;
  justify-content: center;

 }
.two-columns {
  display: flex;
  margin-top: 70px;
  min-width: 784px;
  width: 80%;
  justify-content: space-between;
 
  
}
.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin-top: 30px;
  margin-bottom: 0;
}
.two-columns__main-text {
  width: 80%;
  flex-direction: column;
  min-width: 784px;
  
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight:bold;
 }

.digits {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
margin-bottom: 100px;
margin-top: 100px;
}
.section-title {
  line-height:  1.15em;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0;
}
 .section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  width: 60%;
  text-align: center;
  margin-bottom: 0;
   }
.table{
  display: flex;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;

 }
 .table__cell {
   width: 250px;
   max-width: 25%;
   margin-top: 60px;
 }
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
 }
.table__text {
 line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}
.feynman {
   height: 890px;
  display: flex;
  background: #f2f2f2;
  flex-direction: column;
   position: relative;
   align-items: center;
}
.feynman__illustration {
  position: absolute;
  left: 0;
  margin: 0;
  width: 867px;
  height: 637px;
  bottom: 0;
}
.feynman__title {
  line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
    width: 648px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 0;
  
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  display: flex;
  margin-top: 70px;
  justify-content: center;
  margin-bottom: 0;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  top: 50%;
  right: 48px;
 color: #2f80ed;
 text-decoration: none;
 position: absolute;
 margin: 0;
}
.kaufman{
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
   z-index: 1;
}
.table_theme_dark{
  display: flex;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 90px;

 }
.kaufman__triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 100%;
}
.section-title_theme_dark {
  margin-top: 90px;
  color: white;
}
.section-subtitle_theme_dark {
  margin-top: 20px;
  color: white;
}
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  max-width: 20%;
  color: white;
}
.table__heading_theme_dark {
  color: white;
}
.table__text_theme_dark {
  color: white;
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
   box-sizing: border-box;
}
.footer__columns {
  display: flex;
  flex-direction: row;
   margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  justify-content: space-between;
 
}
.footer__column_content_copyright{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
   align-items: flex-start;
  
}
.footer__column_content_social {
display: flex;
flex-direction: column;
align-items: flex-start;


}
.footer__column-link {
  text-decoration: none;
  color: white;
  
}
.footer__column-links {
 margin-top: 20px;
margin-bottom: 16px;
line-height: 30px;
font-size: 18px;
font-weight: normal;
text-decoration: none;
display: flex;
flex-direction: column;

}
.footer__social-icon {
height: 16px;
width: 16px;
text-decoration: none;
margin-right: 10px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

